<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>
    body{
        background-image: url("https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main{
        height: 500px;
        width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
</style>
<body>
    <div id="main">
    <h1>Form</h1>

    <form action="/insert" method="post">
        <input type="text" placeholder="Enter Your Name " name="name" style="background-color: transparent; height: 30px;">
        <input type="text" placeholder="Enter Your Subject" name="subject" style="background-color: transparent; height: 30px;">
        <button type="submit" style="background-color: burlywood;color: white; border-radius: 3px; border: none; height: 30px; width: 80px;">ADD</button>
    </form>
<br>
    <table border="2px" width="70%">
        <thead style="background-color: burlywood;">
            <th>Id</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Action</th>
        </thead>
        <tbody>
               <% users.map((e,i)=>{ %>
                    <tr>
                        <td><%=e.id%></td>
                        <td><%=e.name%></td>
                        <td><%=e.subject%></td>
                        <td>
                            <a href="/edit?Id=<%=e.id%>"><button style="background-color: transparent; height: 30px;margin: 2px;">Edit</button></a>
                            <a href="/delete?Id=<%=e.id%>"><button style="background-color: transparent; height: 30px;margin: 2px;">Delete</button></a>
                        </td>
                    </tr>
               <% })%>
        </tbody>
    </table>
</div>
</body>
</html>