<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="/update" enctype="multipart/form-data" method="post">
        <input type="hidden" name="id" value="<%= user._id %>">
        <input type="text" placeholder="Enter your name" name="name" value="<%= user.name %>">
        <input type="text" placeholder="Enter your subject" name="sub" value="<%= user.sub %>">
        <label>Man</label>
        <input type="radio" name="gender" value="man" <%= user.gender === 'man' ? 'checked' : '' %>>
        <label>Woman</label>
        <input type="radio" name="gender" value="woman" <%= user.gender === 'woman' ? 'checked' : '' %>>
        <br>
        <label>Game</label>
        <input type="checkbox" name="hobby" value="game" <%= user.hobby.includes('game') ? 'checked' : '' %>>
        <label>Singing</label>
        <input type="checkbox" name="hobby" value="singing" <%= user.hobby.includes('singing') ? 'checked' : '' %>>
        <label>Traveling</label>
        <input type="checkbox" name="hobby" value="traveling" <%= user.hobby.includes('traveling') ? 'checked' : '' %>>
        <select name="city">
            <option value="rajkot" <%= user.city === 'rajkot' ? 'selected' : '' %>>Rajkot</option>
            <option value="jamnagar" <%= user.city === 'jamnagar' ? 'selected' : '' %>>Jamnagar</option>
            <option value="abu" <%= user.city === 'abu' ? 'selected' : '' %>>Abu</option>
            <option value="surat" <%= user.city === 'surat' ? 'selected' : '' %>>Surat</option>
        </select>
        <input type="file" name="image">
        <% if (user.image) { %>
            <img src="<%= user.image %>" alt="Current Image" width="100">
            <input type="hidden" name="currentImage" value="<%= user.image %>">
        <% } %>
        <button type="submit">Update</button>

    </form>
</body>
</html>