<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>MVC CRUD</h1>

  <form action="/insert" enctype="multipart/form-data" method="post">
    <input type="text" placeholder="Enter Your Name" name="name">
    <input type="text" placeholder="Enter Your Subject" name="subject">
    <label>Male</label>
    <input type="radio" name="gender" value="male" >
    <label>Female</label>
    <input type="radio" name="gender" value="female" >
    <br><br>
    <label>Reading</label>
    <input type="checkbox" name="hobby" value="reading">
    <label>swimming</label>
    <input type="checkbox" name="hobby" value="swimming">
    <label>Gym</label>
    <input type="checkbox" name="hobby" value="gym">
    <select name="city">
        <option value="" hidden>Select City</option>
      <option value="rajkot" >Rajkot</option>
      <option value="bhavnagr">Bhavnagr</option>
      <option value="diu">Diu</option>
      <option value="vadodra">Vadodra</option>
    </select>
    <input type="file" name="image">
    <button type="submit">ADD-DATA</button>

  </form>
  <br>
  <table  border="5px" width="50%"> 
    <thead>
        <th>Name</th>
        <th>Subject</th>
        <th>Gender</th>
        <th>Hobby</th>
        <th>City</th>
        <th>Image</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>
        <% data.map((e,i)=>{ %>
                     <tr>
                        <td><%=e.name%></td>
                        <td><%=e.subject%></td>
                        <td><%=e.gender%></td>
                        <td><%=e.hobby%></td>
                        <td><%=e.city%></td>
                        <td style="display: flex;justify-content: center;"> <img src="<%=e.image%>" alt="" width="20%"></td>
                        
                        <td>
                            <a href="/edit?id=<%=e.id%>"><button>Edit</button></a>
                        </td>
                        <td>
                          <a href="/delete?id=<%=e.id%>"><button>Delete</button></a>

                        </td>
                     </tr> 
       <% })%>
    </tbody>
  </table>
    </center>
</body>
</html>